body {
    background-image: url('formi.jpg');
    background-repeat: no-repeat;
    float: left;
    height: 1200px;
    width: 1600px;
}

label {
    border: 2px solid black
}

.errora { background-color: red ;

}
.errorl {background-color: black ;

}

.erorre { background-color: green ;

}

.errorfa { color: red;

}

.errorfv { color: red;

}