body {
    background-image: url('imagen.jpg');
}

label {
    border: 2px solid black
}

.errora { background-color: red ;

}
.errorl {background-color: black ;

}

.erorre { background-color: green ;

}

.errorfa { color: red;

}

.errorfv { color: red;

}